.cricket-ball{
    position: absolute;
    background: black;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 50px;
    border: 1px solid white;
    border-radius: 50%;
    transform-style: preserve-3d;
    animation: ball-roll 2s ease-out 1s forwards infinite;
    &::before{
        display: block;
        content: '';
        height: 50px;
        width: 10px;
        border-left: 1px dashed white;
        border-right: 1px dashed white;
        transform: translateX(20px);
    }
}

.blocks{
    position: absolute;
    background: black;
    &::after{
        content: '';
        z-index: -1;
        display: block;
        transform: translateZ(-1px) scaleX(1.02) scaleY(1.02);
        background: linear-gradient(315deg, #537895 0%, #09203f 74%);
    }
}

.a{
    bottom: -20px;
    left: 10px;
    height: 100px;
    width: 50px;
    border: 1px solid white;
    transform: rotateZ(150deg);
    &::after{
        height: 100px;
        width: 50px; 
    }
}
.b{
    bottom: -10px;
    left: 60px;
    height: 160px;
    width: 70px;
    transform: rotateZ(0deg);
    transform-style: preserve-3d;
    &::after{
        height: 160px;
        width: 70px;   
    }
}
.c{
    bottom: -20px;
    left: 120px;
    height: 150px;
    width: 40px;
    border-top: 180px solid rgb(0, 66, 128);
    border-left: 90px solid transparent;
    border-right: 90px solid transparent; 
    transform: rotateZ(60deg) translateX(100px);
    transform-style: preserve-3d;
    &::after{
        height: 150px;
        width: 40px;
    }
}
.my-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    background-color: #000;
    z-index: 1;
    .header{
        .app-name{
            font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            letter-spacing: 0.1rem;
            color: white;
            position: relative;
            // overflow: hidden;
            ::before{
                position: absolute;
                content: '';
                top:0;
                left:0;
                width: 50%;
                height: 100%;
                border-right: 1px groove white;
                background-color: black;
                animation: line-right 2s ease-out 1s forwards;
            }
            ::after{
                position: absolute;
                content: '';
                top:0;
                right:0;
                width: 50%;
                height: 100%;
                border-left: 1px groove white;
                background-color: black;
                animation: line-left 2s ease-out 1s forwards;
            }
            .big{
                
            }
            .small{
                font-size: 0.8rem;
                font-weight: 200;
                font-style: italic;
            }
        }
    }
  }
  
  .buttonCenter {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 60%;
    height: 3.6rem;
    overflow: hidden;
    background-color: #ffffff;
    background: linear-gradient(315deg, #537895 0%, #09203f 74%);
    animation: sparkle 20s linear infinite;
    .button{
        position: relative;
        padding: 1em;
        width: 99%;
        color: white;
        background-color: black;
    }

    .disabled-link{
        pointer-events: none;
        color: #537895;
    }
    
  }
  
  @keyframes line-left {
    0%{
        border-left: 10px groove white;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
    }
    90%{
        border-left: 1px groove white
    }
    100% {
        width: 1px;
        border: none;
    }
  }

  @keyframes line-right {
    0%{
        border-right: 10px groove white;
        border-top-right-radius: 50%;
        border-bottom-right-radius: 50%;
    }
    90%{
        border-right: 1px groove white
    }
    100% {
        width: 1px;
        border: none;
    }
}

@keyframes sparkle {
    0% {
      background-position: 0 0;
    }
    
    50% {
      background-position: 890px 100px;
    }
  }

  @keyframes ball-roll{
      0%{
          transform: translateX(20px) rotateZ(0deg);
      }
      100%{
        transform: translateX(-110vw) rotateZ(-720deg);
      }
  }