.my-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.buttonCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}
